<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rrm.learnification">

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_a"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_a_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".main.MainActivity"
            android:label="@string/app_name"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <activity
            android:name=".learningitemseteditor.LearningItemSetEditorActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".settings.SettingsActivity" />
        <activity android:name=".logdump.LogDumpActivity" />
        <activity android:name=".jobdump.JobDumpActivity" />

        <service
            android:name=".learnification.publication.LearnificationPublishingService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service
            android:name=".dailyreport.publication.DailyReportPublishingService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service android:name=".learnification.response.LearnificationResponseService" />

        <service android:name=".learnificationresponse.response.LearnificationResultService" />

    </application>

</manifest>